@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto+Condensed:ital@1&family=Source+Sans+Pro:wght@600&display=swap');
$color-main: #1e272e;
$color-background: #ffffff;
$color-text: #ffd32a;
$color-splash: #808e9b;

$font-family: 'Style Script', cursive;
$font-header: 'Roboto Condensed', sans-serif;
$transition: all 0.5s;


.navbar {
  font-size: 16px;
  background-color: $color-main;
  color: $color-background;
  padding: 0 0 0 0;
  margin: 0;
  text-decoration: none; 
}

.welcome{
  margin:0 auto;
  display: block;
  aligin: center;
}

.page-intro {
  position: relative;
  margin: auto;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-background;
}

.btn {
  background-color: $color-text;
  text-align: center;
  border: none;
  width: 200px;
}

.navbar-brand{
  color: $color-text;
  font-family: 'Style Script', cursive;
}

.container{
  text-align: center;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card{
  text-align: center;
  border: none;
  font-size: 20px;
}

.card-text{
  color: $color-splash;
  text-align: center;
  font-size: 16px;
}

.navbar{
  background: none;
}

  
/*LINKS*/

.social-links{
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.social-links li {
  display: inline-block;
  border: 1px solid $color-main;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 20px;
  transition: $transition;
}

.social-links li:hover {
  background: $color-main;
}

.social-links li a{
  display: block;
  width: 100%;
  height: 100%;
  color: #1e272e;
  transition: $transition;
}        
  
.page-footer {
    background: $color-main;
    display: inline-block;
    width: 50%;
    flex-wrap: nowrap;
}